<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyWise6"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".login_register.ThemeActivity"
            android:exported="false" />
        <activity
            android:name=".login_register.AdministratorModeActivity"
            android:exported="false" />
        <activity
            android:name=".login_register.ApproveQuiz"
            android:exported="false" />
        <activity
            android:name=".login_register.QuizPendingFragment"
            android:exported="false" />
        <activity
            android:name=".login_register.CoursePendingFragment"
            android:exported="true" />
        <activity
            android:name=".login_register.FAQActivity"
            android:exported="false" />
        <activity
            android:name=".login_register.ApproveCourse"
            android:exported="false" />
        <activity
            android:name=".login_register.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".login_register.UserGuideActivity"
            android:exported="false" />
        <activity
            android:name=".login_register.AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".login_register.HnSActivity"
            android:exported="false" />
        <activity
            android:name=".forum.Forum_IndividualTopic_Activity"
            android:exported="false" />
        <activity
            android:name=".forum.Forum_MyTopic_Activity"
            android:exported="false" />
        <activity
            android:name=".forum.Forum_CreateTopic_Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login_register.MyAccActivity"
            android:exported="false" />
        <activity
            android:name=".login_register.VerifyEmailActivity"
            android:exported="false" />
        <activity
            android:name=".login_register.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login_register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login_register.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".login_register.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scholarship.FindNewsActivity"
            android:exported="false" />
        <activity
            android:name=".scholarship.NewsFullActivity"
            android:exported="false" />
        <activity
            android:name=".scholarship.ApplyScholarship"
            android:exported="false" />
        <activity
            android:name=".scholarship.BookmarkActivity"
            android:exported="false" />
        <activity
            android:name=".scholarship.FindScholarshipActivity"
            android:exported="false" />
        <activity
            android:name=".scholarship.AdminAddScholarshipActivity"
            android:exported="false"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".quiz.FullScreenVideoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".quiz.activity_course_bookmark"
            android:exported="false" />
        <activity
            android:name=".quiz.activity_individual_course_joined"
            android:exported="true" />
        <activity
            android:name=".quiz.activity_complete_continue_course"
            android:exported="true" />
        <activity
            android:name=".quiz.activity_individual_course_page"
            android:exported="true" />
        <activity
            android:name=".quiz.activity_quiz_show_result"
            android:exported="false" />
        <activity
            android:name=".quiz.activity_quiz_display"
            android:exported="true" />
        <activity
            android:name=".quiz.activity_create_lesson"
            android:exported="false" />
        <activity
            android:name=".quiz.activity_course_display"
            android:exported="true" />
        <activity
            android:name=".quiz.activity_individual_quiz_page"
            android:exported="true" />
        <activity
            android:name=".quiz.activity_create_course"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".quiz.activity_create_quiz"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".home.HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name=".scholarship.NotificationReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>